<header class="header">
    <div class="container">
        <div class="header_content">
            <a class="logo" href="javascript:void(0)"><img src="img/logo.png" alt=""></a>
            <div class="text_content">
                <div class="titie">
                    <h3>monblanproject</h3>
                    <span>Start on  17-02-2016</span>
                </div>
                <ul>
                    <li><strong>870 </strong> posts</li>
                    <li><strong>11,787 </strong> followers</li>
                    <li><strong>112 </strong> following</li>
                </ul>
                <form>
                    <label>Date</label>
                    <div class="date">
                        <input type="text" placeholder="from" class="datepicker">
                        <i class="icon-calendar"></i>
                    </div>
                    <div class="date">
                        <input type="text" placeholder="09_08_2016" class="datepicker">
                        <i class="icon-calendar"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>