
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-columns:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-like:before { content: '\e803'; } /* '' */
.icon-strings:before { content: '\e804'; } /* '' */
